.password-box{
    margin-top: 50px;
    width: 30%;
    height: 100px;
    background-color: blueviolet;
    border: 2px solid goldenrod;
    border-radius: 12px;
}
.password-box input{
    margin-top: 15px;
    width: 80%;
    height: 40px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1rem;
}

.password-box button{
    width: 80px;
    background-color: goldenrod;
    border-radius: 5px;
    cursor: pointer;
}


